<%pageHeader="Books I have read"%>
<%emptyRecordMessage="You haven't read any books."%>
<%page="history"%>
<%downloadCsvEnabled=false%>
<div class="report background-white">
    <%- include _table.ejs%>
    <div class="col-md-1"></div>
</div>
<script src="/js/reports/history.js"></script>
