<li>
    <div class="user-links link-container">
        <a href="/books/" id="search-book">
            <img src="/images/bookSearch.svg">
        </a>
    </div>
</li>
<li>
    <div class="user-links link-container">
        <a href="/books/allBooks" id="all-books">All Books</a>
    </div>
</li>
<li>
    <div class="user-links link-container">
        <a href="/books/myBooks" id="currently-reading">Currently Reading</a>
    </div>
</li>
<li>
    <div class="user-links link-container">
        <a href="/reports/myHistory" id="my-history">Already Read</a>
    </div>
</li>

