<li>
    <div class="admin-links link-container">
        <a href="/reports" id="reports">Reports</a>
    </div>
</li>
<li>
    <div class="admin-links link-container">
        <a href='/books/new' id="add-book-btn">
            <img src="/images/addbook.svg" alt="">
        </a>
    </div>
</li>